<title><%= title %></title>
<link rel="stylesheet" href="../../style.css">
<link rel="icon" type="image/png" href="../../images/favicon.png">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script data-main="js/main" src="./js/require.js"></script>
