<header>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/users">Users</a></li>
        <li><a href="/search">Search</a></li>
        <li><a href="/add">Add user</a></li>
    </ul>
    <h3><%= title %></h3>
</header>
