<!DOCTYPE html>
<html>
<head><% include ../partials/head %></head>
<body>
    <% include ../partials/header %>
    <main>
        <form id="search" action="/results" method="post">
            <label><span>Search for:</span><input type="text" name="query" onkeyup="getResults(this.value)"></label>
            <input class="submit" type="submit" value="submit">
        </form>
        <div id="pre-results">
            <% include ../partials/users %>
        </div>
    </main>
</body>
</html>
